BasedOnStyle: LLVM
IndentWidth: 4

SortIncludes: false
ColumnLimit: 80
PointerAlignment: Right
PenaltyReturnTypeOnItsOwnLine: 20
BinPackArguments: true
BinPackParameters: true

BreakBeforeBraces: Allman
